        {% if fieldControls in ['bottom', 'both'] %}
        <div class="collection-actions">
            {% if collapsible %}
                <button class="button" type="button" data-action="expand_all"
                        {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}><i class="fa fa-chevron-circle-down"></i> {{ "PLUGIN_ADMIN.EXPAND_ALL"|e|tu }}</button>
                <button class="button" type="button" data-action="collapse_all"
                        {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}><i class="fa fa-chevron-circle-right"></i> {{ "PLUGIN_ADMIN.COLLAPSE_ALL"|e|tu }}</button>
            {% endif %}
            {% if field.sortby %}
                <button class="button{{ not value|length ? ' hidden' : '' }}" type="button" data-action="sort" data-action-sort="{{ field.sortby }}" data-action-sort-dir="{{ field.sortby_dir|default('asc') }}"
                        {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}><i class="fa fa-sort-amount-{{ field.sortby_dir|default('asc') }}"></i> {{ btnSortLabel|e|tu }} '{{ field.sortby }}'</button>
            {% endif %}
            <button class="button" type="button" data-action="add" data-action-add="bottom"
                    {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}><i class="fa fa-plus"></i> {{ btnLabel|e|tu }}</button>
        </div>
        {% endif %}

        <div style="display: none;" data-collection-config="{{ name }}"></div>
    </div>
</div>