{% extends "forms/field.html.twig" %}

{% if field.file %}
    {% set content = read_file(field.file) %}
{% else %}
    {% set content = field.content %}
{% endif %}

{% block label %}
    {% if field.markdown %}
        {% if grav.twig.twig.filters['tu'] is defined %}
            {{ field.label|tu|markdown(false) }}
        {% else %}
            {{ field.label|t|markdown(false) }}
        {% endif %}
    {% else %}
        {% if grav.twig.twig.filters['tu'] is defined %}
            {{ field.label|tu|e }}
        {% else %}
            {{ field.label|t|e }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block input %}
    <div class="form-display-wrapper {{ field.size }} {{ field.classes }}" {% if field.id is defined %}id="{{ field.id|e }}" {% endif %}>
        {% if field.markdown %}
            {{ content|t|markdown|raw }}
        {% else %}
            {{ content|t|raw }}
        {% endif %}
    </div>
{% endblock %}
