{% extends "forms/field.html.twig" %}

{% block field %}
<div class="form-field form-spacer {{ field.classes }}">
    {% if field.title %}
        <{{ field.title_type|default('h3') }}>{{- field.title|t|raw -}}</{{ field.title_type|default('h3') }}>
    {% endif %}

    {% if field.markdown %}
        {{- field.text|t|markdown|raw -}}
    {% else %}
        <p>{{- field.text|t|raw -}}</p>
    {% endif %}

    {% if field.underline %}
    <hr />
    {% endif %}
</div>
{% endblock %}
