{% extends "forms/field.html.twig" %}

{% block input %}
    <div class="form-input-wrapper {{ field.size }}">
        <input
            type="password"
            class="input"
            name="{{ (scope ~ field.name)|fieldName }}"
            value="{{ value|join(', ') }}"
            {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
            {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
            {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
            {% if field.autocomplete in ['on', 'off'] %}autocomplete="{{ field.autocomplete }}"{% endif %}
            {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
            {% if field.validate.pattern %}pattern="{{ field.validate.pattern }}"{% endif %}
            {% if field.validate.message %}title="{{ field.validate.message|e|tu }}"{% endif %}
        />
    </div>
{% endblock %}
